<div class="text-center">
    <div style="font-size:1.3em">Output</div>
    <MatButton Style="font-size:.8em" OnClick="ClearOutput" Label="Clear"></MatButton>
</div>
<div class="console">
    @((MarkupString) CodeOutput)
</div>

