
<div class="text-right">
    Theme:
    <select @onchange="ChangeTheme">
        <option value="vs">Visual Studio</option>
        <option value="vs-dark">Visual Studio Dark</option>
        <option value="hc-black">High Contrast Black</option>
    </select>
</div>
<MatDivider/>
<MatButton Icon="input" OnClick="SubmitCode" Raised="true">@ButtonLabel</MatButton>
<MatButton Style="font-size:80%;float:right" Icon="file_copy" OnClick="CopyToClipboard">Copy</MatButton>
<div style="height:20rem">
    <MonacoEditor Id="console" CssClass="editor" @ref="MonacoEditor" ConstructionOptions="EditorOptionsRoslyn" OnDidInit="EditorOnDidInit" OnContextMenu="OnContextMenu">
    </MonacoEditor>
</div>
