@page "/"

<MatTabGroup>
    <MatTab Label="Home">
        <MatH1>App Builder</MatH1>
        @*<MatButton OnClick="DownloadRepo" Label="Download Repo"></MatButton>*@
        <UploadProject OnProjectFileUpload="HandleProjectUpload" />
        <MatButton Raised="true" OnClick="RecoverState">Recover State</MatButton>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                @if (ExtractedFiles != null)
                {
                    @foreach (var file in ExtractedFiles)
                    {
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                            <div class="grid-card mat-elevation-z24">
                                <div class="header">

                                    @file.Name

                                </div>
                                <div class="gridbody">
                                    <pre>@file.Content</pre>
                                </div>
                            </div>
                        </div>
                    }
                }


            </div>
        </div>
    </MatTab>
    <MatTab Label="Console Project">
        <MatButton OnClick="ShowMenu" Icon="menu">Menu</MatButton>
        <ConsoleHome />
    </MatTab>
    <MatTab Label="Blazor/Razor Project">
        <MatButton OnClick="ShowMenu" Icon="menu">Menu</MatButton>
        <RazorCodeHome />
    </MatTab>
</MatTabGroup>


