@page "/"
@layout MainLayout

<MatTabGroup>
    <MatTab Label="Home">
        <MatH2 Class="text-center">App Builder</MatH2>
        <UploadProject OnProjectUpload="HandleProjectUpload" />
        <MatButton Raised="true" OnClick="RecoverState">Recover State</MatButton>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell mat-layout-grid-cell-span-12">
                    <MatH5 Class="text-center">@projectName</MatH5>
                </div>
                @if (ExtractedFiles != null)
                {
                    @foreach (var file in ExtractedFiles)
                    {
                        <div class="mat-layout-grid-cell mat-layout-grid-cell-span-4">
                            <div class="grid-card mat-elevation-z24">
                                <div class="header">
                                    @file.Name
                                </div>
                                <div class="gridbody">
                                    <pre>@file.Content</pre>
                                </div>
                            </div>
                        </div>
                    }
                }


            </div>
        </div>
    </MatTab>
    <MatTab Label="Console Project">
        <ConsoleHome />
    </MatTab>
    <MatTab Label="Blazor/Razor Project">
        <RazorCodeHome />
    </MatTab>
    @if (!AppState.IsAuthUser)
    {
        <MatTab Label="Login">
            <LoginProvider />
        </MatTab>
    }
 

</MatTabGroup>


