@page "/defaultOutput"
<MatH4 Class="text-center">Welcome to the Project Builder</MatH4>

<MatH5>Create an interactive app using Razor components</MatH5>
<MatH6>We provide the project and compiler. You just build and organize the components</MatH6>
<MatButton Link="https://docs.microsoft.com/en-us/aspnet/core/blazor/components/?view=aspnetcore-3.1" Target="_blank">Learn More</MatButton>
<ul style="font-size:1.1em">
    <li>Create new components and add whatever html and c#(razor syntax) code you want</li>
    <li>Alternatively, Add pre-made component snippets or get a .razor file from any public GitHub Repo</li>
    <li>Save your component to the App Project</li>
    <li>Embed your components however you see fit. Just remember that at least one component has to inside the __RazorOutput.razor component</li>
    <li>Simply click Execute Project, and see what you have wrought!</li>
</ul>

@code {

}
